body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(64, 64, 64);
    margin: 0;
}
.parent{
    display: flex;
    align-items: center;
}
.circle{
    margin-right: 30px;
    animation: spin 1s linear infinite;
    width: 100px;
    height: 100px;
    border: 12px solid gray;
    border-top-color: rgb(0, 0, 0);
    border-radius: 50%;
}
h2{
    font-size: 100px;
    color: white;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}