.div1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.div2{
    position: absolute;
    top: 0px;
    right: 0px;
}
.div3{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.div4{
    position: absolute;
    bottom: 0px;
    left: 0px;
}